<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cxwl.shawn.zhongshan.decision">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:allowBackup="true">

        <!--&lt;!&ndash;高德地图&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="com.amap.api.v2.apikey"-->
            <!--android:value="44ed336efdac5683d2a3cd8df8ac979c"/>-->
        <!--&lt;!&ndash; 定位需要的服务 &ndash;&gt;-->
        <!--<service android:name="com.amap.api.location.APSService" />-->

        <activity android:name=".activity.ShawnMainActivity"
                  android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".activity.ShawnWarningListActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.ShawnWarningDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ShawnForecastActivity"
                  android:screenOrientation="portrait"/>

    </application>

</manifest>